.o_form_view .o_form_sheet_bg .o_form_sheet
{
    width: 100%;
    margin: 15px;
}

.openerp .oe_form_sheet_width
{
    max-width: 100%;
}

.openerp .oe_form_sheetbg
{
    padding: 5px;
}

.openerp .oe_form div.oe_chatter {
    max-width: 100%;
}

.openerp .oe_followers {
    width: 100px;
}

.openerp .oe_record_thread {
    margin-right: 200px;
}
